<p>
    <mat-toolbar color="primary">
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
      <span>Magnus</span>
      <span class="example-spacer"></span>
      <button (click)="logout()" mat-icon-button class="example-icon favorite-icon mr20" aria-label="Example icon-button with heart icon">
        <mat-icon>logout</mat-icon>Logout
      </button>
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>logout</mat-icon> Logout
      </button> -->
    </mat-toolbar>
  </p>