.fs-12 {
    font-size: 12px !important;
    padding: 5px;
}

.float-right {
    position: absolute;
    right: 10px;
    top: 5px;
    
}
.t-20{
    top: 20px;
}

.mt26{
    margin-top: 26px;
}

.mb26{
    margin-bottom: 26px;
}

.mr5{
    margin-right: 5px;
}